/* Sidebar Style */
mat-sidenav-container {
    height: 100%;
}

mat-sidenav, mat-sidenav-content {
    padding: 16px;
}

mat-sidenav {
    background-color: white;
    width: 270px;
    color: black;
    padding: 0px;
}


/* Menu Item Style */

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}