<mat-toolbar color="primary">
    <!-- MENU TOGGLE -->
    <button mat-icon-button (click)="opened=!opened">
        <mat-icon>menu</mat-icon>
    </button>

    <!-- Light/Dark Mode -->
    <div div id="color-mode-container">
        <div id="color-mode-toggle">
            <mat-icon>wb_sunny</mat-icon>
            <mat-slide-toggle></mat-slide-toggle>
            <mat-icon>brightness_2</mat-icon>
        </div>
    </div>
    
</mat-toolbar>

<!-- Navigation Sidebar -->
<mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="opened">
        <!-- MENU -->
        <ul nz-menu nzMode="inline">
            
            <li nz-menu-item>Transaction Entry</li>
            
            <li nz-submenu nzTitle="Master Data">
              <ul>
                <li nz-menu-item>Customers</li>
                <li nz-menu-item>Commodities</li>
                <li nz-menu-item>Grades</li>
                <li nz-menu-item>Grade Tables</li>
                <li nz-menu-item>Grading Factors</li>
                <li nz-menu-item>Factors</li>
                <li nz-menu-item>Bins</li>
                <li nz-menu-item>Vehicles</li>
                <li nz-menu-item>Settings</li>
              </ul>
            </li>
            <li nz-submenu nzTitle="Reports">
              <ul>
                <li nz-menu-item>Stock by Client</li>
                <li nz-menu-item>Stock by Product</li>
                <li nz-menu-item>Stock by Bin</li>
                <li nz-menu-item class="wrap-li">Stock by Transaction Type</li>
                <li nz-menu-item>Tickets</li>

              </ul>
            </li>
        </ul>
    </mat-sidenav>
</mat-sidenav-container>